.t{
	margin: 10px auto;
	display: grid;
	grid-template-columns: 400px 1fr;
	justify-content: center;
	align-items: center;
	justify-items: stretch
}
#stop{
	display: grid;
	grid-template-columns: 200px 100px 1fr 200px;
	margin: 2px 15px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
}
.s {
	display: grid;
	grid-template-columns: 200px 100px 1fr 170px;
}
.r{
	float: right;
}
.w {
	width: 100%;
	text-align: right;
}
button.right {
	width: auto;
}
#topheader {
	display: grid;
	grid-template-columns: 1fr 100px;
	margin-bottom: 0;
}