.t{
	margin: 10px auto;
	display: grid;
	grid-template-columns: 400px 1fr;
	justify-content: center;
	align-items: center;
	justify-items: stretch
}
#stop{
	display: grid;
	grid-template-columns: 200px 120px 1fr 80px;
	margin: 2px 15px;
	width: 100%;
	color: #6a6a6a;
	font-size: 15px;
}
.s {
	display: grid;
	grid-template-columns: 200px 120px 1fr 65px;
	align-items: center
}
.r{
	float: right;
}
.w {
	width: 100%;
	text-align: right;
}
button.right {
	width: auto;
}
#topheader {
	display: grid;
	grid-template-columns: 1fr 100px;
	margin-bottom: 0;
}
.sm{
	width: 14px;
	height: 14px;
	margin: 0;
	display: inline-block;
}
.e{
	font-weight: inherit;
}
.green {
	color: green;
}