#maingrid .glassy {
	text-align: center;
	width: 87%;
}
#maingrid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 300px 300px 1fr;
}
input{
	margin: 3px;
	width: 90%;
}
#l1 hr, #r2 hr {
	margin: 10px 0;
}