.planprice{
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
#configurator{
	display: grid;
	grid-template-columns: 735px 300px;
	grid-gap: 15px;
}
.plan{
  display: grid;
  grid-template-columns: 100px 300px 1fr;
}
.selected{
  background: rgba(65, 161, 250,0.4);
}
#period{
  width: 50px;
}
.qc input {
  width: 92%;
  height: 10px;
  margin: 15px 0;
  margin-right: 5px;
  background-color: background: rgba(255, 255, 255, 0.10);;
  border-radius: 15px;
  appearance: none;
}
.qc input::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background-color: rgba(65, 161, 250,0.7);
  appearance: none;
  border-radius: 50%;
}

.qc input::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: rgba(65, 161, 250,0.4);
  appearance: none;
}
#resgrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#secondgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#resgrid div{
	width: 88%;
}
#secondgrid div {
	width: 92%;
}
.qc {
	width: 100%!important;
	margin: 0;
	display: grid;
	grid-template-columns: 25px 1fr 30px;
	align-items: center;
	justify-content: space-between;
	justify-items: center;
}
.small {
	font-size: 12px;
	margin: 5px auto;
}
.big {

	font-size: 18px;
	margin: 15px auto;
}
#pay {
	font-size: 17px;
    padding: 5px 40px;
	margin: 15px auto;
	
}
h3{
	font-weight: 500;
}
#qinp{
	font-weight: bold;
	width: auto;
}
#qm {
	width: 300px;
	display: inline;
	margin-left: 50px;
}
#hostslist {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.hosts {
	width: 80%;
}
#updbtn{
	float: right;
}
#noserveralert {
	display: inline-block;
	
	width: 97%;
}
#hostslist{
	margin-bottom: 10px;
}
.ce{
	text-align: center;
}
#qc2{
	width: auto;
	grid-gap:0;
	justify-content: start;
}
#rside{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	
}
.rs {
	width: 87%;
}
#total p {
	font-size: 20px;
	font-weight: bold;
	margin: 7px 0 0px 0;
}
#total{
	text-align: center;
}
.ico {
	width: 25px;
	margin-right: 5px;
}
.grey {
	color: grey;
}